@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Source+Sans+Pro:wght@300;400;700&display=swap");

@font-face {
  font-family: "gobold";
  src: url("../fonts/10091-webfont.eot");
  src: url("../fonts/10091-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/10091-webfont.woff2") format("woff2"),
    url("../fonts/10091-webfont.woff") format("woff"),
    url("../fonts/10091-webfont.svg#gobold_cyr-latregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* -- Main code -- */

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.bc_black{
  background-color: #0e0e0e;
}

/* -- Navigation */

#top_header {
  padding: 55px 0 35px;
}

.red_header {
  background-color: #9e171d;
}

.navbar {
  position: relative;
}

.logo_img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:focus {
  outline: none;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none;
  border: none;
  outline: none;
}

.navbar-brand{
  padding-right: 40px;
}

#style_navbar {
  padding: 0;
}

.nav_burger {
  display: block;
  position: absolute;
  right: 0;
  top: 30px;
  width: 40px;
  height: 18px;
  background-color: transparent;
}

.nav_burger:before, .nav_burger:after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all .5s ease;
}

.nav_burger:before {
  top: 0;
}

.nav_burger:after {
  bottom: 0;
}

.nav_burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: #fff;
  transform: translate(0,-50%);
  transition: all .5s ease;
}

.red_header .nav_burger:before {
  transform: rotate(45deg);
}

.red_header .nav_burger:after {
  transform: rotate(-45deg);
  transform-origin: 9px -2px;
  opacity: 0;
}

.red_header .nav_burger span {
  transform: rotate(-45deg);
  transform-origin: 9px -2px;
}

.navbar-nav {
  margin-left: 0;
  padding-top: 100px;
  flex-direction: row;
}

.nav-item {
  margin: 0;
}

.nav-link {
  position: relative;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

.nav-link:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #fff;
  transition: all .5s linear;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:hover:before {
  width: 100%;
}

/* -- Cars intro -- */

.square {
  position: relative;
  display: flex;
}

.square:before {
  position: absolute;
  content: '';
  top: -50px;
  right: 0;
  width: 570px;
  height: 100%;
  background: url('../img/background_noise.png');
  background-repeat: no-repeat;
}

.top_slide {
  position: relative;
  padding: 60px 0 30px;
}

.car_img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content_intro {
  margin-bottom: 100px;
}

.content_intro h3 {
  position: relative;
  margin-bottom: 35px;
  font-family: "gobold";
  font-size: 25px;
  text-transform: uppercase;
  color: #4a4c4c;
}

.content_intro h3 span {
  color: #82878a;
}

.content_intro h3:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #4a4c4c;
}

.content_intro p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #82878a;
  margin-bottom: 140px;
}

.content_intro h6 {
  font-family: "gobold";
  font-size: 16px;
  text-transform: uppercase;
  color: #82878a;
}

.content_intro h6 span {
  color: #4a4c4c;
}

.carousel:hover .arrow_right{
  opacity: 1;
  bottom: 23%;
  right: 23%;
}

.arrow_right {
  position: absolute;
  bottom: 20%;
  z-index: 10;
  right: 20%;
  width: 30px;
  height: 20px;
  opacity: 0;
  transition: opacity .5s linear, bottom .3s linear, right .3s linear;
}

.arrow_right:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: translate(0,-50%);
}

.arrow_right:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg) translate(-50%,-20%);
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0.6s .2s;
}

/* -- Services --*/

.services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.services_left{
  display: flex;
  position: relative;
  background: url('../img/mers_sedan.png') no-repeat;
  background-size: cover;
}

.services_center{
  display: flex;
  position: relative;
  background: url('../img/audi-a8-04.png') no-repeat;
  background-size: cover;
}

.services_right{
  display: flex;
  position: relative;
  background: url('../img/s_brab.png') no-repeat;
  background-size: cover;
}

.services_left:hover, .services_center:hover, .services_right:hover {
  text-decoration: none;
}


.services_left:before, .services_center:before, .services_right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
}

.services_left:hover:after, .services_center:hover:after, .services_right:hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(111,12,15,.7);
}

.services_inner {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  z-index: 5;
  height: 500px;
  margin: 50px 0;
}

.services_inner:hover {
  text-decoration: none;
}

.services_inner h3 {
  margin-bottom: 50px;
  position: relative;
  font-family: "gobold";
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}

.services_left:hover span {
  color: #0e0e0e;
}

.services_inner h3:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 3px;
  background-color: #fff;
}

.services_inner p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding-right: 10px;
  color: #fff;
}

.arrow {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
}

.arrow:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 5px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: translate(0,-50%);
}

.arrow:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg) translate(-50%,-20%);
}

/* -- Our Offers -- */

.offers {
  padding-top: 80px;
  padding-bottom: 80px;
}

.offers h2 {
  padding: 10px 0;
  position: relative;
  font-family: "gobold";
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #9e171d;
}

.offers h2:before {
  content: '';
  position: absolute;
  left: 2px;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background-color: #9e171d;
}

.offers h2 span {
  color: #0e0e0e;
}

.offers>p {
  padding: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #82878a;
}

.offers_car { 
  position: relative;
  padding-top: 50px;
}

.offers_img {
  position: relative;
  overflow: hidden;
  max-width: 370px;
  margin: 0 auto;
  height: 215px;
}

.offers_img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.car_content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(227,57,65,.9);
  transition: all .3s linear;
}

.car_content>p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.car_content>p:first-child{
  padding-top: 10px;
}

.offers_img:hover .car_content {
  height: 75px;
}

.car_inner>p {
  font-family: "gobold";
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #0e0e0e;
}

#fleet_carousel .owl-nav{
  position: absolute;
  width: 100%;
  top: 71%;
}

.owl-nav .owl-next, .owl-nav .owl-prev {
  position: absolute;
  right: -20px;
  bottom: 0;
  display: block;
  width: 45px;
  height: 45px;
  border: 2px solid #9e171d;
}

.owl-nav .owl-prev {
  left: -50px;
  transform: rotateY(180deg);
}

.owl-nav .owl-next:before, .owl-nav .owl-prev:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 5px;
  width: 20px;
  height: 2px;
  background-color: #9e171d;
  transform: translate(0,-50%);
}

.owl-nav .owl-next:after, .owl-nav .owl-prev:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid #9e171d;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg) translate(-50%,-20%);
}

/* -- Contact details -- */

.contact_details {
  padding: 80px 0;
  background-color: #161616;
}

.contact_inner h2 {
  position: relative;
  padding: 10px 0;
  color: #fff;
  font-family: "gobold";
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.contact_inner h2:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: #9e171d;
}

.contact_inner p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #82878a;
}

.form-check {
  position: relative;
  margin-bottom: 20px;
}

.label_style {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding-right: 40px;
  color: #82878a;
}

.form-check+.form-check .label_style {
  padding-right: 60px;
  margin-left: 20px;
}

#inlineCheckbox1, #inlineCheckbox2  {
  margin: 0;
  display: none;
  position: absolute;
}

.checkbox_label:before {
  content: '';
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  top: 0;
  right: 0;
  z-index: 1;
  border: 2px solid #9e171d;
}

.checkbox_label:after {
  content: '';
  position: absolute;
  top: 3px;
  right: -2px;
  z-index: 2;
  opacity: 0;
  display: block;
  width: 24px;
  height: 16px;
  background: url('../img/checkmark.png') no-repeat;
  background-size: 24px 16px;
  transition: opacity .3s linear;
}

.form-check-input:checked + .checkbox_label:after{
  opacity: 1;
}

.form-group {
  margin-bottom: 0;
}

.select_style {
  position: relative;
  max-width: 335px;
  cursor: pointer;
  padding-bottom: 40px;
}

.select_style select {
  position: relative;
  cursor: pointer;
  background-color: #161616;
  padding: 5px 30px 5px 10px;
  border-radius: 0;
  border-color: #82878a;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #82878a;
}

.select_style:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  width: 12px;
  height: 12px;
  top: 7px;
  right: 10px;
  border: 1px solid #9e171d;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.select_style:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  width: 1px;
  height: 33px;
  top: 0;
  right: 30px;
  background-color: #82878a;
}

.select_style select:focus {
  outline: none;
  border-color: #82878a;
  background-color: #161616;
  box-shadow: none;
}

.label_style span {
  color: #9e171d;
}

.form-row>.form-group {
  padding-right: 20px;
  padding-bottom: 40px;
}

.input_style {
  background: none;
  background-color: #fff;
  border: 0;
  border-radius: 0;
}

.textarea {
  display: flex;
  flex-direction: column;
}

#input_details {
  width: 620px;
  max-width: 100%;
  height: 90px;
  resize: none;
}

.btn_submit {
  display: block;
  text-align: center;
  padding: 15px 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.contact_inner h2 span {
  color: #9e171d;
}

.contact_inner div+div h2 {
  margin-bottom: 60px;
}

.contact_inner div+div h2:before {
  background-color: #fff;
}

.contact_inner h3 {
  color: #fff;
  font-family: "gobold";
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.contact_inner div+div p {
  color: #fff;
  margin-bottom: 45px;
}

.contact_inner a {
  position: relative;
  color: #fff;
  padding-left: 20px;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.contact_inner a:before {
  content: '<';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* -- Testimonials -- */

.testimonials {
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimonials h2 {
  padding: 10px 0;
  position: relative;
  font-family: "gobold";
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #9e171d;
}

.testimonials h2:before {
  content: '';
  position: absolute;
  left: 2px;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background-color: #9e171d;
}

.testimonials p {
  padding: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #82878a;
}

.testimonials img {
  display: block;
  max-width: 170px;
  height: auto;
}

#testimonials_carousel .owl-nav{
  position: absolute;
  width: 100%;
  top: -70px;
}

#testimonials_carousel .owl-nav .owl-next {
  right: 30px;
}

#testimonials_carousel .owl-nav .owl-prev {
  left: auto;
  right: 73px;
}

.people_about {
  position: relative;
}

.people_about h5 {
  font-family: "gobold";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #0e0e0e;
}

/* -- Navigation Down -- */

.nav_down {
  padding-top: 80px;
  padding-bottom: 80px;
}

.nav_down h3 {
  padding: 10px 0;
  position: relative;
  font-family: "gobold";
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  color: #0e0e0e;
  margin-bottom: 50px;
}

.nav_down h3:before {
  content: '';
  position: absolute;
  left: 2px;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background-color: #9e171d;
}

.nav_down h3 span {
  color: #9e171d;
}

.nav_sidney {
  padding: 0;
}

.menu_down {
  padding: 0;
  font-size: 0;
}

.menu_down li {
  display: inline-block;
  padding-right: 15px;
}

.menu_down li:last-child {
  padding-right: 0;
}

.menu_down li a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #82878a;
  text-transform: uppercase;
}

.with_us {
  padding: 0;
}

.with_us a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #82878a;
  margin-right: 50px;
}

.with_us a+a {
  margin-right: 0;
}

/* -- Footer -- */

footer {
  background-color: #e6e6e6;
}

.link {
  padding: 0;
}

.link a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #82878a;
  margin-right: 20px;
}

.link a+a {
  margin-right: 0;
}

.link a:hover {
  color: #9e171d;
}

.copyright p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #82878a;
  margin: 0;
  padding: 20px 0;
}

.copyright {
  padding: 0;
}

.media_link {
  padding: 0;
}

.media_link ul {
  padding: 5px 0;
  margin-bottom: 0;
  font-size: 0;
}

.media_link ul li {
  padding: 0 1px;
  display: inline-block;
}

.media_link li a {
  display: block;
  width: 29px;
  height: 30px;
  background-image: url('../img/css_sprites.png');
  background-position: -5px -5px;
}

.media_link li+li a {
  background-position: -44px -5px;
}

.media_link li+li+li a {
  background-position: -83px -5px;
}

.media_link li a:hover {
  background-position: -5px -45px;
}

.media_link li+li:hover a {
  background-position: -44px -45px;
}

.media_link li+li+li:hover a {
  background-position: -83px -45px;
}

.link, .copyright, .media_link {
  text-align: center;
}

/* -- Media -- */

@media (max-width: 576px) {
  .navbar-nav {
    padding-left: 15px;
    display: block;
  }

  .offers {
    margin: 0;
  }

  .owl-nav .owl-next, .owl-nav .owl-prev {
    display: none;
  }

  .form-check+.form-check .label_style {
    padding-right: 72px;
    margin-left: 0;
  }

  .menu_down li {
    padding-right: 0;
    display: block;
  }

  .menu_down li a {
    padding: 5px 0;
    text-align: center;
  }

  .nav_sidney, .with_us {
    padding-left: 15px;
  }

  .with_us a {
    display: block;
    text-align: center;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .with_us a+a {
    margin-bottom: 0;
  }

  .media_link ul {
    padding-top: 15px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu_down li {
    padding-right: 10px;
  }

  .link, .copyright, .media_link {
    text-align: center;
  }

  .media_link ul {
    padding-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav-item {
    margin-left: 25px;
    margin-right: 25px;
  }

  .square:before {
    width: 450px;
  }

  .content_intro {
    margin-bottom: 50px;
  }

  .content_intro p {
    margin-bottom: 70px;
  }

  .carousel:hover .arrow_right{
    opacity: 1;
    bottom: 13%;
    right: 21%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) { 
  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .carousel:hover .arrow_right{
    opacity: 1;
    bottom: 21%;
    right: 23%;
  }
}

@media (min-width: 1200px) { 
  .nav-item {
    margin-left: 0;
    margin-right: 30px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
}